@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600&display=swap');

$font-secondary: 'Spartan',sans-serif;
$font-three: 'Orbitron',sans-serif;
$bp-Largest : 75em;//1200px
$bp-Large : 68.75em; //1100px
$bp-Medium : 56.25em; //900px
$bp-Small : 48em; //768px
$bp-Smallest : 41.25em; //660px

*,
*::after,
*::before{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
* {
  -webkit-tap-highlight-color: transparent;
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
  @media only screen and (max-width: $bp-Large) {
    font-size: 56.25%;//1rem = 9px
  }
  @media only screen and (max-width: $bp-Medium) {
    font-size: 50%;
  }
  // @media only screen and (max-width: $bp-Small) {
  //   font-size: 50%;
  // }
}
body {
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
    overflow-x: hidden;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.6);
}
a,
a:link,
a:visited{
  text-decoration: none;
  color:inherit;
}
.color-white{
  color:white;
}
.btn{
  font-weight: 700;
  font-size: 2rem;
  font-family: inherit;
  cursor: pointer;
}
.btn-clippath{
  position: relative;
  background-color:transparent;
  border-radius: 0.3rem;
  height: 6.4rem;
  width: 25rem;
  padding: 0 3.7rem;
  padding-left: 9rem;
  font-family: "Rajdhani", sans-serif;;
  border: none;
  filter: drop-shadow(0px 4.42184px 107.23px rgba(255, 86, 246, 0.51));
  color:#fff;
  display: inline-flex;
  // justify-content: center;
  align-items: center;
  
  transition: .3s all;
  
  @media only screen and (max-width:$bp-Small) {
    width: 20rem;
    padding: 0 3rem;
    padding-left: 6rem;
  }
  &::before{
    content:"";
    clip-path: polygon(0 0,20.1rem 0, 100% 2rem, 100% 100%,4.4rem 100%,0 4rem );
    background-image: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
    width: 24.6rem;
    height: 6rem;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    position: absolute;
    top: .2rem;
    left: .2rem ;
    z-index: -1;
    @media only screen and (max-width:$bp-Small) {
      width: 19.6rem;
      clip-path: polygon(0 0,15.1rem 0, 100% 2rem, 100% 100%,4.4rem 100%,0 4rem );
    }
  }
  &::after{
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg,#FFA6FA, #3C79D4);
    clip-path: polygon(0 2rem, 4.5rem 0, 100% 0, 100% 4.4rem, 20.5rem 100%, 0 100%);
    z-index: -2;
     @media only screen and (max-width:$bp-Small) {
      clip-path: polygon(0 2rem, 4.5rem 0, 100% 0, 100% 4.4rem, 15.5rem 100%, 0 100%);
    }
  }
  svg{
    width: 4rem;
    margin-left: 1rem;
    // transform: translate(100%);
    // transition: .3s all;
    
  }
  @keyframes animation-right {
    from{
      transform: translateX(0);
      opacity: 1;
    }
    to{
      transform: translateX(2rem);
      opacity: 0;
    }
  }
  &:hover svg{animation: animation-right 1s infinite;}
  // &:hover::before{transform:none;}
  &:hover{
    transform: translateY(-1rem);
    filter: drop-shadow(0px 4.42184px 107.23px rgba(255, 86, 246, .8));
  }
  &:active{
    transform: translateY(-.6rem);
  }
}

.btn-text{
  border: none;
  box-shadow: none;
  background-color: transparent;
  padding: 0 3.7rem;
  @media only screen and (max-width: $bp-Smallest) {
    padding:0 3rem;
  }
}
.btn-primary{
  position: relative;
  border: none;
  border-radius: 3px;
  background-image: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Rajdhani", sans-serif;
  color: inherit;
  padding: 8px;

  transition: .3s all;
  svg{
    width: 2.3rem;
    margin-left: .5rem;
  }     
  &::before{
    content: "";
    position: absolute;
    inset: 0; //top, right, left, botton: 0;
    border-radius: 3px;
    padding: 2px;
    background: linear-gradient(-90deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
  @keyframes animation-right {
    from{
      transform: translateX(0);
      opacity: 1;
    }
    to{
      transform: translateX(.7rem);
      opacity: 0;
    }
  }
  &:hover svg{animation: animation-right 1s infinite;}
  // &:hover::before{transform:none;}
  &:hover{
    transform: translateY(-.7rem);
    filter: drop-shadow(0px .4rem 9rem rgba(255, 86, 246, .8));
  }
  &:active{
    transform: translateY(-.4rem);
    filter: drop-shadow(0px 5px 10rem rgba(255, 86, 246, .8));
  }
}
.heading-1{
  font-size: 6.6rem;
  font-weight: 600;
  color: #fff;
  line-height: 137%;
  font-family: $font-secondary;
  @media only screen and (max-width: $bp-Small) {
    font-size: 4.2rem;
  }
}
.heading-2{
  font-size: 4rem;
  color: inherit;
  font-weight: 500;
}
.heading-3{
  font-size: 2.6rem;
  color: inherit;
  font-weight: 700;
  @media only screen and (max-width: $bp-Smallest) {
    font-size: 2rem;
  }
}

.paragraph-1{
  font-size: 2.6rem;
  font-weight: 400;
  color: #fff;
  line-height: 4.4rem;
}
.heading-bg{
  background-image: linear-gradient(272.38deg, #43A5E3 46.06%, #FF56F6 81.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mb-medium{
  margin-bottom: 1.6rem;
}
.mb-large{
  margin-bottom: 4.3rem;
}
.mt-medium{
  margin-top: 2rem;
}
.mt-section{
  margin-top: 10rem;
}
.text-2{
  font-size: 1.3rem;
}
.text-3{
  font-size: 2rem;
}
// .swiper{
//   width: 100%;
// }
.viewall{
  cursor: pointer;
  font-size: inherit;
  @media only screen and (max-width: $bp-Smallest) {
    font-size: 2rem;
  }
  svg{
    vertical-align: middle;
    margin-left: 1rem;
    width: 2rem;
    transition: .3s all;
  };
  &:hover svg{
    transform: translateX(.5rem);
  }
}
.heading-section{
  font-size: 2.6rem;
  font-weight: 700;
  font-family: $font-three, sans-serif;
  @media only screen and (max-width: $bp-Smallest) {
    font-size: 2rem;
  }
}
.fontThree{
  font-family: $font-three, sans-serif;
}
.fontSecond{
  font-family: $font-secondary, sans-serif;
}
.verify{
  height: 3rem;
  width: max-content;
  margin-left: -10px;
  vertical-align: middle;
}
.hightlight{
  color:rgba(255, 86, 246, 1)
}
.card{   
  z-index: 0;
  color: #fff;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(17px);
  box-shadow: 10px 20px 50px rgb(0 0 0 / 40%);
  &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -1;
      background: rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(17px);
      -webkit-backdrop-filter: blur(17px);
  }
}
.fontFour{
  font-family: 'MuseoModerno', cursive;
}
.color-secondary{
  color: #2EC5CE
}