@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800&display=swap');

$font-secondary: 'Spartan',sans-serif;
*,
*::after,
*::before{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
    overflow: hidden;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.6);
}
.color-white{
  color:white;
}
.btn{
  font-weight: 700;
  font-size: 2rem;
  font-family: inherit;
  cursor: pointer;
  padding: 0 3.7rem;
}
.btn-clippath{
  position: relative;
  background-color:transparent;
  border-radius: 0.3rem;
  height: 6.4rem;
  width: 25rem;
  padding-left: 9rem;
  border: none;
  filter: drop-shadow(0px 4.42184px 107.23px rgba(255, 86, 246, 0.51));
  color:#fff;
  display: inline-flex;
  // justify-content: center;
  align-items: center;
  
  transition: .3s all;
  &::before{
    content:"";
    clip-path: polygon(0 0,20.1rem 0, 100% 2rem, 100% 100%,4.4rem 100%,0 4rem );
    background-image: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
    width: 24.6rem;
    height: 6rem;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    position: absolute;
    top: .2rem;
    left: .2rem ;
    z-index: -1;
  }
  &::after{
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg,#FFA6FA, #3C79D4);
    clip-path: polygon(0 2rem, 4.5rem 0, 100% 0, 100% 4.4rem, 20.5rem 100%, 0 100%);
    z-index: -2;
  }
  svg{
    width: 4rem;
    margin-left: 1rem;
    // transform: translate(100%);
    // transition: .3s all;
    
  }
  @keyframes animation-right {
    from{
      transform: translateX(0);
      opacity: 1;
    }
    to{
      transform: translateX(2rem);
      opacity: 0;
    }
  }
  &:hover svg{animation: animation-right 1s infinite;}
  // &:hover::before{transform:none;}
  &:hover{
    transform: translateY(-1rem);
  }
  &:active{
    transform: translateY(-.6rem);
  }
}

.btn-text{
  border: none;
  box-shadow: none;
  background-color: transparent;
  
}
.heading-1{
  font-size: 6.6rem;
  font-weight: 600;
  color: #fff;
  line-height: 137%;
  font-family: $font-secondary;
}
.paragraph-1{
  font-size: 2.6rem;
  font-weight: 400;
  color: #fff;
  line-height: 4.4rem;
}
.heading-bg{
  background-image: linear-gradient(272.38deg, #43A5E3 46.06%, #FF56F6 81.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mb-medium{
  margin-bottom: 1.6rem;
}
.mb-large{
  margin-bottom: 4.3rem;
}